/* Colores corporativos */

a {
    color: #7D1D57;
}

a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
    color: #902A8A;
}

li.rtl-option-active > a {
    font-weight: bold;
    color: #6B72E6 !important;
    border-right: 1px solid #902A8A !important;
}

li.rtl-option-active > a:before {
    padding-right: 5px;
    font-family: FontAwesome;
    content: "\f054" !important;
}

.rtl-logo-admin { margin: 4px auto; }

input[readonly] {
    cursor: default !important;
}

.input-link[readonly] {
    cursor:pointer !important;
}

.input-link, input-link:hover, input-link:active, input-link:focus {
    color:white;
}

/***
 *       ______      __
 *      / ____/___  / /___  __________
 *     / /   / __ \/ / __ \/ ___/ ___/
 *    / /___/ /_/ / / /_/ / /  (__  )
 *    \____/\____/_/\____/_/  /____/
 *
 */
.rtl-purple { color: #605CA8; }
.rtl-purple-background { background-color: #605CA8; }
.rtl-purple-background-important { background-color: #605CA8 !important; }

.rtl-purple-light { color: #807DB9; }
.rtl-purple-light-background { background-color: #807DB9; }
.rtl-purple-light-background-important { background-color: #807DB9 !important; }

.rtl-laguna-bright { color: #902A8A; }
.rtl-laguna-bright-background { background-color: #902A8A; }
.rtl-laguna-bright-background-important { background-color: #902A8A !important;; }

.rtl-orange-light { color: #F8A736; }
.rtl-orange-light-background { background-color: #F8A736; }
.rtl-orange-light-background-important { background-color: #F8A736 !important; }

.rtl-laguna { color: #7D1D57; }
.rtl-laguna-background { background-color: #7D1D57; }
.rtl-laguna-background-important { background-color: #7D1D57 !important; }

.rtl-orange { color: #EC6C1E; }
.rtl-orange-background { background-color: #EC6C1E; }
.rtl-orange-background-important { background-color: #EC6C1E !important; }

.rtl-broken-white { color: #FEFEFE; }
.rtl-broken-white-background { background-color: #FEFEFE; }
.rtl-broken-white-background-important { background-color: #FEFEFE !important; }

.rtl-error-class { color:#FF0000;  /* red */ }
.rtl-valid-class { color:#00CC00; /* green */ }

.rtl-normal-text { font-weight: normal; }
.rtl-normal-text-important { font-weight: normal !important; }

/* List colors */
.A1, .A2 { color: deepskyblue; }
.B1, .B2 { color: green; }
.C1, .C2 { color: red; }
.D1, .D2 { color: #6B72E6; }
.E1, .E2 { color: goldenrod; }
.rtl-white-readonly { background-color: #FFFFFF !important; }
.rtl-show-icon { color: green; }
.rtl-edit-icon { color: darkblue; }
.rtl-delete-icon { color: red; }

.rtl-bordered {
    border: 1px solid #7D1D57;
}

/***
 *        ____            __    ___                     ___        __  ___                 _
 *       / __ \____ _____/ /___/ (_)___  ____ ______   ( _ )      /  |/  /___ __________ _(_)___  _____
 *      / /_/ / __ `/ __  / __  / / __ \/ __ `/ ___/  / __ \/|   / /|_/ / __ `/ ___/ __ `/ / __ \/ ___/
 *     / ____/ /_/ / /_/ / /_/ / / / / / /_/ (__  )  / /_/  <   / /  / / /_/ / /  / /_/ / / / / (__  )
 *    /_/    \__,_/\__,_/\__,_/_/_/ /_/\__, /____/   \____/\/  /_/  /_/\__,_/_/   \__, /_/_/ /_/____/
 *        ____  _           __        /____/                                     /____/
 *       / __ \(_)  _____  / /____
 *      / /_/ / / |/_/ _ \/ / ___/
 *     / ____/ />  </  __/ (__  )
 *    /_/   /_/_/|_|\___/_/____/
 *
 */

/* Padding top */
.rtl-padding-top-0 { padding-top: 0px; }
.rtl-padding-top-5 { padding-top: 5px; }
.rtl-padding-top-10 { padding-top: 10px; }
.rtl-padding-top-15 { padding-top: 15px; }
.rtl-padding-top-20 { padding-top: 20px; }
.rtl-padding-top-25 { padding-top: 25px; }
.rtl-padding-top-30 { padding-top: 30px; }
.rtl-padding-top-35 { padding-top: 35px; }
.rtl-padding-top-40 { padding-top: 40px; }
.rtl-padding-top-45 { padding-top: 45px; }
.rtl-padding-top-50 { padding-top: 50px; }
.rtl-padding-top-55 { padding-top: 55px; }
.rtl-padding-top-60 { padding-top: 60px; }
.rtl-padding-top-65 { padding-top: 65px; }
.rtl-padding-top-70 { padding-top: 70px; }
.rtl-padding-top-75 { padding-top: 75px; }
.rtl-padding-top-80 { padding-top: 80px; }
.rtl-padding-top-85 { padding-top: 85px; }
.rtl-padding-top-90 { padding-top: 90px; }
.rtl-padding-top-95 { padding-top: 95px; }
.rtl-padding-top-100 { padding-top: 100px; }
.rtl-padding-top-105 { padding-top: 105px; }
.rtl-padding-top-110 { padding-top: 110px; }
.rtl-padding-top-115 { padding-top: 115px; }
.rtl-padding-top-120 { padding-top: 120px; }
.rtl-padding-top-125 { padding-top: 125px; }
.rtl-padding-top-130 { padding-top: 130px; }
.rtl-padding-top-135 { padding-top: 135px; }
.rtl-padding-top-140 { padding-top: 140px; }
.rtl-padding-top-145 { padding-top: 145px; }
.rtl-padding-top-150 { padding-top: 150px; }
.rtl-padding-top-155 { padding-top: 155px; }
.rtl-padding-top-160 { padding-top: 160px; }
.rtl-padding-top-165 { padding-top: 165px; }
.rtl-padding-top-170 { padding-top: 170px; }
.rtl-padding-top-175 { padding-top: 175px; }
.rtl-padding-top-180 { padding-top: 180px; }
.rtl-padding-top-185 { padding-top: 185px; }
.rtl-padding-top-190 { padding-top: 190px; }
.rtl-padding-top-195 { padding-top: 195px; }
.rtl-padding-top-200 { padding-top: 200px; }

/* Padding Bottom */
.rtl-padding-bottom-0 { padding-bottom: 0px; }
.rtl-padding-bottom-5 { padding-bottom: 5px; }
.rtl-padding-bottom-10 { padding-bottom: 10px; }
.rtl-padding-bottom-15 { padding-bottom: 15px; }
.rtl-padding-bottom-20 { padding-bottom: 20px; }
.rtl-padding-bottom-25 { padding-bottom: 25px; }
.rtl-padding-bottom-30 { padding-bottom: 30px; }
.rtl-padding-bottom-35 { padding-bottom: 35px; }
.rtl-padding-bottom-40 { padding-bottom: 40px; }
.rtl-padding-bottom-45 { padding-bottom: 45px; }
.rtl-padding-bottom-50 { padding-bottom: 50px; }
.rtl-padding-bottom-55 { padding-bottom: 55px; }
.rtl-padding-bottom-60 { padding-bottom: 60px; }
.rtl-padding-bottom-65 { padding-bottom: 65px; }
.rtl-padding-bottom-70 { padding-bottom: 70px; }
.rtl-padding-bottom-75 { padding-bottom: 75px; }
.rtl-padding-bottom-80 { padding-bottom: 80px; }
.rtl-padding-bottom-85 { padding-bottom: 85px; }
.rtl-padding-bottom-90 { padding-bottom: 90px; }
.rtl-padding-bottom-95 { padding-bottom: 95px; }
.rtl-padding-bottom-100 { padding-bottom: 100px; }
.rtl-padding-bottom-105 { padding-bottom: 105px; }
.rtl-padding-bottom-110 { padding-bottom: 110px; }
.rtl-padding-bottom-115 { padding-bottom: 115px; }
.rtl-padding-bottom-120 { padding-bottom: 120px; }
.rtl-padding-bottom-125 { padding-bottom: 125px; }
.rtl-padding-bottom-130 { padding-bottom: 130px; }
.rtl-padding-bottom-135 { padding-bottom: 135px; }
.rtl-padding-bottom-140 { padding-bottom: 140px; }
.rtl-padding-bottom-145 { padding-bottom: 145px; }
.rtl-padding-bottom-150 { padding-bottom: 150px; }
.rtl-padding-bottom-155 { padding-bottom: 155px; }
.rtl-padding-bottom-160 { padding-bottom: 160px; }
.rtl-padding-bottom-165 { padding-bottom: 165px; }
.rtl-padding-bottom-170 { padding-bottom: 170px; }
.rtl-padding-bottom-175 { padding-bottom: 175px; }
.rtl-padding-bottom-180 { padding-bottom: 180px; }
.rtl-padding-bottom-185 { padding-bottom: 185px; }
.rtl-padding-bottom-190 { padding-bottom: 190px; }
.rtl-padding-bottom-195 { padding-bottom: 195px; }
.rtl-padding-bottom-200 { padding-bottom: 200px; }

/* Padding Left */
.rtl-padding-left-0 { padding-left: 0px; }
.rtl-padding-left-5 { padding-left: 5px; }
.rtl-padding-left-10 { padding-left: 10px; }
.rtl-padding-left-15 { padding-left: 15px; }
.rtl-padding-left-20 { padding-left: 20px; }
.rtl-padding-left-25 { padding-left: 25px; }
.rtl-padding-left-30 { padding-left: 30px; }
.rtl-padding-left-35 { padding-left: 35px; }
.rtl-padding-left-40 { padding-left: 40px; }
.rtl-padding-left-45 { padding-left: 45px; }
.rtl-padding-left-50 { padding-left: 50px; }
.rtl-padding-left-55 { padding-left: 55px; }
.rtl-padding-left-60 { padding-left: 60px; }
.rtl-padding-left-65 { padding-left: 65px; }
.rtl-padding-left-70 { padding-left: 70px; }
.rtl-padding-left-75 { padding-left: 75px; }
.rtl-padding-left-80 { padding-left: 80px; }
.rtl-padding-left-85 { padding-left: 85px; }
.rtl-padding-left-90 { padding-left: 90px; }
.rtl-padding-left-95 { padding-left: 95px; }
.rtl-padding-left-100 { padding-left: 100px; }
.rtl-padding-left-105 { padding-left: 105px; }
.rtl-padding-left-110 { padding-left: 110px; }
.rtl-padding-left-115 { padding-left: 115px; }
.rtl-padding-left-120 { padding-left: 120px; }
.rtl-padding-left-125 { padding-left: 125px; }
.rtl-padding-left-130 { padding-left: 130px; }
.rtl-padding-left-135 { padding-left: 135px; }
.rtl-padding-left-140 { padding-left: 140px; }
.rtl-padding-left-145 { padding-left: 145px; }
.rtl-padding-left-150 { padding-left: 150px; }
.rtl-padding-left-155 { padding-left: 155px; }
.rtl-padding-left-160 { padding-left: 160px; }
.rtl-padding-left-165 { padding-left: 165px; }
.rtl-padding-left-170 { padding-left: 170px; }
.rtl-padding-left-175 { padding-left: 175px; }
.rtl-padding-left-180 { padding-left: 180px; }
.rtl-padding-left-185 { padding-left: 185px; }
.rtl-padding-left-190 { padding-left: 190px; }
.rtl-padding-left-195 { padding-left: 195px; }
.rtl-padding-left-200 { padding-left: 200px; }

/* Padding right */
.rtl-padding-right-0 { padding-right: 0px; }
.rtl-padding-right-5 { padding-right: 5px; }
.rtl-padding-right-10 { padding-right: 10px; }
.rtl-padding-right-15 { padding-right: 15px; }
.rtl-padding-right-20 { padding-right: 20px; }
.rtl-padding-right-25 { padding-right: 25px; }
.rtl-padding-right-30 { padding-right: 30px; }
.rtl-padding-right-35 { padding-right: 35px; }
.rtl-padding-right-40 { padding-right: 40px; }
.rtl-padding-right-45 { padding-right: 45px; }
.rtl-padding-right-50 { padding-right: 50px; }
.rtl-padding-right-55 { padding-right: 55px; }
.rtl-padding-right-60 { padding-right: 60px; }
.rtl-padding-right-65 { padding-right: 65px; }
.rtl-padding-right-70 { padding-right: 70px; }
.rtl-padding-right-75 { padding-right: 75px; }
.rtl-padding-right-80 { padding-right: 80px; }
.rtl-padding-right-85 { padding-right: 85px; }
.rtl-padding-right-90 { padding-right: 90px; }
.rtl-padding-right-95 { padding-right: 95px; }
.rtl-padding-right-100 { padding-right: 100px; }
.rtl-padding-right-105 { padding-right: 105px; }
.rtl-padding-right-110 { padding-right: 110px; }
.rtl-padding-right-115 { padding-right: 115px; }
.rtl-padding-right-120 { padding-right: 120px; }
.rtl-padding-right-125 { padding-right: 125px; }
.rtl-padding-right-130 { padding-right: 130px; }
.rtl-padding-right-135 { padding-right: 135px; }
.rtl-padding-right-140 { padding-right: 140px; }
.rtl-padding-right-145 { padding-right: 145px; }
.rtl-padding-right-150 { padding-right: 150px; }
.rtl-padding-right-155 { padding-right: 155px; }
.rtl-padding-right-160 { padding-right: 160px; }
.rtl-padding-right-165 { padding-right: 165px; }
.rtl-padding-right-170 { padding-right: 170px; }
.rtl-padding-right-175 { padding-right: 175px; }
.rtl-padding-right-180 { padding-right: 180px; }
.rtl-padding-right-185 { padding-right: 185px; }
.rtl-padding-right-190 { padding-right: 190px; }
.rtl-padding-right-195 { padding-right: 195px; }
.rtl-padding-right-200 { padding-right: 200px; }

/* Margin Top */
.rtl-margin-top-0 { margin-top: 0px; }
.rtl-margin-top-5 { margin-top: 5px; }
.rtl-margin-top-10 { margin-top: 10px; }
.rtl-margin-top-15 { margin-top: 15px; }
.rtl-margin-top-20 { margin-top: 20px; }
.rtl-margin-top-25 { margin-top: 25px; }
.rtl-margin-top-30 { margin-top: 30px; }
.rtl-margin-top-35 { margin-top: 35px; }
.rtl-margin-top-40 { margin-top: 40px; }
.rtl-margin-top-45 { margin-top: 45px; }
.rtl-margin-top-50 { margin-top: 50px; }
.rtl-margin-top-55 { margin-top: 55px; }
.rtl-margin-top-60 { margin-top: 60px; }
.rtl-margin-top-65 { margin-top: 65px; }
.rtl-margin-top-70 { margin-top: 70px; }
.rtl-margin-top-75 { margin-top: 75px; }
.rtl-margin-top-80 { margin-top: 80px; }
.rtl-margin-top-85 { margin-top: 85px; }
.rtl-margin-top-90 { margin-top: 90px; }
.rtl-margin-top-95 { margin-top: 95px; }
.rtl-margin-top-100 { margin-top: 100px; }
.rtl-margin-top-105 { margin-top: 105px; }
.rtl-margin-top-110 { margin-top: 110px; }
.rtl-margin-top-115 { margin-top: 115px; }
.rtl-margin-top-120 { margin-top: 120px; }
.rtl-margin-top-125 { margin-top: 125px; }
.rtl-margin-top-130 { margin-top: 130px; }
.rtl-margin-top-135 { margin-top: 135px; }
.rtl-margin-top-140 { margin-top: 140px; }
.rtl-margin-top-145 { margin-top: 145px; }
.rtl-margin-top-150 { margin-top: 150px; }
.rtl-margin-top-155 { margin-top: 155px; }
.rtl-margin-top-160 { margin-top: 160px; }
.rtl-margin-top-165 { margin-top: 165px; }
.rtl-margin-top-170 { margin-top: 170px; }
.rtl-margin-top-175 { margin-top: 175px; }
.rtl-margin-top-180 { margin-top: 180px; }
.rtl-margin-top-185 { margin-top: 185px; }
.rtl-margin-top-190 { margin-top: 190px; }
.rtl-margin-top-195 { margin-top: 195px; }
.rtl-margin-top-200 { margin-top: 200px; }

.rtl-margin-10 { margin: 10px; }

/* Margin Bottom */
.rtl-amrgin-bottom-0 { margin-bottom: 0px; }
.rtl-amrgin-bottom-5 { margin-bottom: 5px; }
.rtl-amrgin-bottom-10 { margin-bottom: 10px; }
.rtl-amrgin-bottom-15 { margin-bottom: 15px; }
.rtl-amrgin-bottom-20 { margin-bottom: 20px; }
.rtl-amrgin-bottom-25 { margin-bottom: 25px; }
.rtl-amrgin-bottom-30 { margin-bottom: 30px; }
.rtl-amrgin-bottom-35 { margin-bottom: 35px; }
.rtl-amrgin-bottom-40 { margin-bottom: 40px; }
.rtl-amrgin-bottom-45 { margin-bottom: 45px; }
.rtl-amrgin-bottom-50 { margin-bottom: 50px; }
.rtl-amrgin-bottom-55 { margin-bottom: 55px; }
.rtl-amrgin-bottom-60 { margin-bottom: 60px; }
.rtl-amrgin-bottom-65 { margin-bottom: 65px; }
.rtl-amrgin-bottom-70 { margin-bottom: 70px; }
.rtl-amrgin-bottom-75 { margin-bottom: 75px; }
.rtl-amrgin-bottom-80 { margin-bottom: 80px; }
.rtl-amrgin-bottom-85 { margin-bottom: 85px; }
.rtl-amrgin-bottom-90 { margin-bottom: 90px; }
.rtl-amrgin-bottom-95 { margin-bottom: 95px; }
.rtl-amrgin-bottom-100 { margin-bottom: 100px; }
.rtl-amrgin-bottom-105 { margin-bottom: 105px; }
.rtl-amrgin-bottom-110 { margin-bottom: 110px; }
.rtl-amrgin-bottom-115 { margin-bottom: 115px; }
.rtl-amrgin-bottom-120 { margin-bottom: 120px; }
.rtl-amrgin-bottom-125 { margin-bottom: 125px; }
.rtl-amrgin-bottom-130 { margin-bottom: 130px; }
.rtl-amrgin-bottom-135 { margin-bottom: 135px; }
.rtl-amrgin-bottom-140 { margin-bottom: 140px; }
.rtl-amrgin-bottom-145 { margin-bottom: 145px; }
.rtl-amrgin-bottom-150 { margin-bottom: 150px; }
.rtl-amrgin-bottom-155 { margin-bottom: 155px; }
.rtl-amrgin-bottom-160 { margin-bottom: 160px; }
.rtl-amrgin-bottom-165 { margin-bottom: 165px; }
.rtl-amrgin-bottom-170 { margin-bottom: 170px; }
.rtl-amrgin-bottom-175 { margin-bottom: 175px; }
.rtl-amrgin-bottom-180 { margin-bottom: 180px; }
.rtl-amrgin-bottom-185 { margin-bottom: 185px; }
.rtl-amrgin-bottom-190 { margin-bottom: 190px; }
.rtl-amrgin-bottom-195 { margin-bottom: 195px; }
.rtl-amrgin-bottom-200 { margin-bottom: 200px; }

/* Margin Left */
.rtl-margin-left-0 { margin-left: 0px; }
.rtl-margin-left-5 { margin-left: 5px; }
.rtl-margin-left-10 { margin-left: 10px; }
.rtl-margin-left-15 { margin-left: 15px; }
.rtl-margin-left-20 { margin-left: 20px; }
.rtl-margin-left-25 { margin-left: 25px; }
.rtl-margin-left-30 { margin-left: 30px; }
.rtl-margin-left-35 { margin-left: 35px; }
.rtl-margin-left-40 { margin-left: 40px; }
.rtl-margin-left-45 { margin-left: 45px; }
.rtl-margin-left-50 { margin-left: 50px; }
.rtl-margin-left-55 { margin-left: 55px; }
.rtl-margin-left-60 { margin-left: 60px; }
.rtl-margin-left-65 { margin-left: 65px; }
.rtl-margin-left-70 { margin-left: 70px; }
.rtl-margin-left-75 { margin-left: 75px; }
.rtl-margin-left-80 { margin-left: 80px; }
.rtl-margin-left-85 { margin-left: 85px; }
.rtl-margin-left-90 { margin-left: 90px; }
.rtl-margin-left-95 { margin-left: 95px; }
.rtl-margin-left-100 { margin-left: 100px; }
.rtl-margin-left-105 { margin-left: 105px; }
.rtl-margin-left-110 { margin-left: 110px; }
.rtl-margin-left-115 { margin-left: 115px; }
.rtl-margin-left-120 { margin-left: 120px; }
.rtl-margin-left-125 { margin-left: 125px; }
.rtl-margin-left-130 { margin-left: 130px; }
.rtl-margin-left-135 { margin-left: 135px; }
.rtl-margin-left-140 { margin-left: 140px; }
.rtl-margin-left-145 { margin-left: 145px; }
.rtl-margin-left-150 { margin-left: 150px; }
.rtl-margin-left-155 { margin-left: 155px; }
.rtl-margin-left-160 { margin-left: 160px; }
.rtl-margin-left-165 { margin-left: 165px; }
.rtl-margin-left-170 { margin-left: 170px; }
.rtl-margin-left-175 { margin-left: 175px; }
.rtl-margin-left-180 { margin-left: 180px; }
.rtl-margin-left-185 { margin-left: 185px; }
.rtl-margin-left-190 { margin-left: 190px; }
.rtl-margin-left-195 { margin-left: 195px; }
.rtl-margin-left-200 { margin-left: 200px; }

/* Margin Right */
.rtl-margin-right-0 { margin-right: 0px; }
.rtl-margin-right-5 { margin-right: 5px; }
.rtl-margin-right-10 { margin-right: 10px; }
.rtl-margin-right-15 { margin-right: 15px; }
.rtl-margin-right-20 { margin-right: 20px; }
.rtl-margin-right-25 { margin-right: 25px; }
.rtl-margin-right-30 { margin-right: 30px; }
.rtl-margin-right-35 { margin-right: 35px; }
.rtl-margin-right-40 { margin-right: 40px; }
.rtl-margin-right-45 { margin-right: 45px; }
.rtl-margin-right-50 { margin-right: 50px; }
.rtl-margin-right-55 { margin-right: 55px; }
.rtl-margin-right-60 { margin-right: 60px; }
.rtl-margin-right-65 { margin-right: 65px; }
.rtl-margin-right-70 { margin-right: 70px; }
.rtl-margin-right-75 { margin-right: 75px; }
.rtl-margin-right-80 { margin-right: 80px; }
.rtl-margin-right-85 { margin-right: 85px; }
.rtl-margin-right-90 { margin-right: 90px; }
.rtl-margin-right-95 { margin-right: 95px; }
.rtl-margin-right-100 { margin-right: 100px; }
.rtl-margin-right-105 { margin-right: 105px; }
.rtl-margin-right-110 { margin-right: 110px; }
.rtl-margin-right-115 { margin-right: 115px; }
.rtl-margin-right-120 { margin-right: 120px; }
.rtl-margin-right-125 { margin-right: 125px; }
.rtl-margin-right-130 { margin-right: 130px; }
.rtl-margin-right-135 { margin-right: 135px; }
.rtl-margin-right-140 { margin-right: 140px; }
.rtl-margin-right-145 { margin-right: 145px; }
.rtl-margin-right-150 { margin-right: 150px; }
.rtl-margin-right-155 { margin-right: 155px; }
.rtl-margin-right-160 { margin-right: 160px; }
.rtl-margin-right-165 { margin-right: 165px; }
.rtl-margin-right-170 { margin-right: 170px; }
.rtl-margin-right-175 { margin-right: 175px; }
.rtl-margin-right-180 { margin-right: 180px; }
.rtl-margin-right-185 { margin-right: 185px; }
.rtl-margin-right-190 { margin-right: 190px; }
.rtl-margin-right-195 { margin-right: 195px; }
.rtl-margin-right-200 { margin-right: 200px; }




/***
 *        ____            __    ___                     ___        __  ___                 _
 *       / __ \____ _____/ /___/ (_)___  ____ ______   ( _ )      /  |/  /___ __________ _(_)___  _____
 *      / /_/ / __ `/ __  / __  / / __ \/ __ `/ ___/  / __ \/|   / /|_/ / __ `/ ___/ __ `/ / __ \/ ___/
 *     / ____/ /_/ / /_/ / /_/ / / / / / /_/ (__  )  / /_/  <   / /  / / /_/ / /  / /_/ / / / / (__  )
 *    /_/    \__,_/\__,_/\__,_/_/_/ /_/\__, /____/   \____/\/  /_/  /_/\__,_/_/   \__, /_/_/ /_/____/
 *        ____                        /_____                                     /____/
 *       / __ \___  _____________  ____  / /_____ _____ ____  _____
 *      / /_/ / _ \/ ___/ ___/ _ \/ __ \/ __/ __ `/ __ `/ _ \/ ___/
 *     / ____/  __/ /  / /__/  __/ / / / /_/ /_/ / /_/ /  __(__  )
 *    /_/    \___/_/   \___/\___/_/ /_/\__/\__,_/\__, /\___/____/
 *                                              /____/
 */
/* Padding top */
.rtl-padding-top-0-percent { margin-top: 0%; }
.rtl-padding-top-10-percent { margin-top: 10%; }
.rtl-padding-top-20-percent { margin-top: 20%; }
.rtl-padding-top-30-percent { margin-top: 30%; }
.rtl-padding-top-40-percent { margin-top: 40%; }
.rtl-padding-top-50-percent { margin-top: 50%; }
.rtl-padding-top-60-percent { margin-top: 60%; }
.rtl-padding-top-70-percent { margin-top: 70%; }
.rtl-padding-top-80-percent { margin-top: 80%; }
.rtl-padding-top-90-percent { margin-top: 90%; }
.rtl-padding-top-100-percent { margin-top: 100%; }

/* Padding bottom */
.rtl-padding-bottom-0-percent { padding-bottom: 0%; }
.rtl-padding-bottom-10-percent { padding-bottom: 10%; }
.rtl-padding-bottom-20-percent { padding-bottom: 20%; }
.rtl-padding-bottom-30-percent { padding-bottom: 30%; }
.rtl-padding-bottom-40-percent { padding-bottom: 40%; }
.rtl-padding-bottom-50-percent { padding-bottom: 50%; }
.rtl-padding-bottom-60-percent { padding-bottom: 60%; }
.rtl-padding-bottom-70-percent { padding-bottom: 70%; }
.rtl-padding-bottom-80-percent { padding-bottom: 80%; }
.rtl-padding-bottom-90-percent { padding-bottom: 90%; }
.rtl-padding-bottom-100-percent { padding-bottom: 100%; }

/* Padding left */
.rtl-padding-left-0-percent { padding-left: 0%; }
.rtl-padding-left-10-percent { padding-left: 10%; }
.rtl-padding-left-20-percent { padding-left: 20%; }
.rtl-padding-left-30-percent { padding-left: 30%; }
.rtl-padding-left-40-percent { padding-left: 40%; }
.rtl-padding-left-50-percent { padding-left: 50%; }
.rtl-padding-left-60-percent { padding-left: 60%; }
.rtl-padding-left-70-percent { padding-left: 70%; }
.rtl-padding-left-80-percent { padding-left: 80%; }
.rtl-padding-left-90-percent { padding-left: 90%; }
.rtl-padding-left-100-percent { padding-left: 100%; }

/* Padding right */
.rtl-padding-right-10-percent { padding-right: 10%; }
.rtl-padding-right-20-percent { padding-right: 20%; }
.rtl-padding-right-30-percent { padding-right: 30%; }
.rtl-padding-right-40-percent { padding-right: 40%; }
.rtl-padding-right-50-percent { padding-right: 50%; }
.rtl-padding-right-60-percent { padding-right: 60%; }
.rtl-padding-right-70-percent { padding-right: 70%; }
.rtl-padding-right-80-percent { padding-right: 80%; }
.rtl-padding-right-90-percent { padding-right: 90%; }
.rtl-padding-right-100-percent { padding-right: 100%; }

/* Margin top */
.rtl-margin-top-0-percent { margin-top: 0%; }
.rtl-margin-top-10-percent { margin-top: 10%; }
.rtl-margin-top-20-percent { margin-top: 20%; }
.rtl-margin-top-30-percent { margin-top: 30%; }
.rtl-margin-top-40-percent { margin-top: 40%; }
.rtl-margin-top-50-percent { margin-top: 50%; }
.rtl-margin-top-60-percent { margin-top: 60%; }
.rtl-margin-top-70-percent { margin-top: 70%; }
.rtl-margin-top-80-percent { margin-top: 80%; }
.rtl-margin-top-90-percent { margin-top: 90%; }
.rtl-margin-top-100-percent { margin-top: 100%; }

/* Margin bottom */
.rtl-margin-bottom-0-percent { margin-bottom: 0%; }
.rtl-margin-bottom-10-percent { margin-bottom: 10%; }
.rtl-margin-bottom-20-percent { margin-bottom: 20%; }
.rtl-margin-bottom-30-percent { margin-bottom: 30%; }
.rtl-margin-bottom-40-percent { margin-bottom: 40%; }
.rtl-margin-bottom-50-percent { margin-bottom: 50%; }
.rtl-margin-bottom-60-percent { margin-bottom: 60%; }
.rtl-margin-bottom-70-percent { margin-bottom: 70%; }
.rtl-margin-bottom-80-percent { margin-bottom: 80%; }
.rtl-margin-bottom-90-percent { margin-bottom: 90%; }
.rtl-margin-bottom-100-percent { margin-bottom: 100%; }

/* Margin left */
.rtl-margin-left-0-percent { margin-left: 0%; }
.rtl-margin-left-10-percent { margin-left: 10%; }
.rtl-margin-left-20-percent { margin-left: 20%; }
.rtl-margin-left-30-percent { margin-left: 30%; }
.rtl-margin-left-40-percent { margin-left: 40%; }
.rtl-margin-left-50-percent { margin-left: 50%; }
.rtl-margin-left-60-percent { margin-left: 60%; }
.rtl-margin-left-70-percent { margin-left: 70%; }
.rtl-margin-left-80-percent { margin-left: 80%; }
.rtl-margin-left-90-percent { margin-left: 90%; }
.rtl-margin-left-100-percent { margin-left: 100%; }

/* Margin right */
.rtl-margin-right-10-percent { margin-right: 10%; }
.rtl-margin-right-20-percent { margin-right: 20%; }
.rtl-margin-right-30-percent { margin-right: 30%; }
.rtl-margin-right-40-percent { margin-right: 40%; }
.rtl-margin-right-50-percent { margin-right: 50%; }
.rtl-margin-right-60-percent { margin-right: 60%; }
.rtl-margin-right-70-percent { margin-right: 70%; }
.rtl-margin-right-80-percent { margin-right: 80%; }
.rtl-margin-right-90-percent { margin-right: 90%; }
.rtl-margin-right-100-percent { margin-right: 100%; }

.rtl-25-on-right {
    padding-left: 25px;
    margin-right: 42px;
}

.rtl-margins-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.rtl-lists-footer {
    padding: 10px;
}

.rtl-input-group {
    padding-right: 30px !important;
    padding-left: 5px !important;
}

/***
 *       ______            __             __
 *      / ____/___  ____  / /__________  / /____
 *     / /   / __ \/ __ \/ __/ ___/ __ \/ / ___/
 *    / /___/ /_/ / / / / /_/ /  / /_/ / (__  )
 *    \____/\____/_/ /_/\__/_/   \____/_/____/
 *
 */
input:required { border-left: 2px solid #902A8A; }
select:required { border-left: 2px solid #902A8A; }
textarea:required { border-left: 2px solid #902A8A; }

/*Styles for text area control*/
.no-resizable { resize: none; }
.resizable-vertical { resize: vertical; }
.resizable-horizontal { resize: horizontal; }
.rtl-textarea-max-150px { max-height: 150px; }

/* Spinner Styles */
.input-group-addon {
    background-color: #6B72E6 !important;
    color: white;
}

.input-group-addon-disabled {
    background-color: #B5B8F2 !important;
    color: gray;
}

.rtl-dt-head-line thead th {
    background-color: #605CA8;
    color: white;
}

.rtl-delete-grid-form {
    width: 10px;
    float: right;
    padding-left: 3px;
}

/***
 *        ____  __           __
 *       / __ )/ /___  _____/ /_______
 *      / __  / / __ \/ ___/ //_/ ___/
 *     / /_/ / / /_/ / /__/ ,< (__  )
 *    /_____/_/\____/\___/_/|_/____/
 *
 */
.rtl-laguna-block {
    font-family: "Arial Black";
    color: #FEFEFE;
    background-color: #EC6C1E;
    text-transform: uppercase;
    font-weight: bold;
}

.rtl-radio-block {
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    color: #902A8A;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}

.rtl-taxi-block {
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    color: #902A8A;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}

.rtl-radio-block::after {
    background-image: url('../img/rtlwaves.png');
    background-size: 32px 32px;
    display: inline-block;
    width: 32px;
    height: 32px;
    content: "";
    background-color: #FFFFFF;
}

/***
 *        ____        __  __
 *       / __ )__  __/ /_/ /_____  ____  _____
 *      / __  / / / / __/ __/ __ \/ __ \/ ___/
 *     / /_/ / /_/ / /_/ /_/ /_/ / / / (__  )
 *    /_____/\__,_/\__/\__/\____/_/ /_/____/
 *
 */
.color1 { color: #ffffff}
.color2 { color: #902a8a}
.color3 { color: #7d1d57}
.color4 { color: #ec6c1e}
.color5 { color: #fefefe}


.color-primary-0 { color: #8A0957 }	/* Main Primary color */
.color-primary-1 { color: #B33983 }
.color-primary-2 { color: #A7166E }
.color-primary-3 { color: #720045 }
.color-primary-4 { color: #540033 }

.color-secondary-1-0 { color: #AC0B13 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #DF474F }
.color-secondary-1-2 { color: #D01C25 }
.color-secondary-1-3 { color: #8E0007 }
.color-secondary-1-4 { color: #690005 }

.color-secondary-2-0 { color: #4D0E75 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #723698 }
.color-secondary-2-2 { color: #611A8E }
.color-secondary-2-3 { color: #3D0561 }
.color-secondary-2-4 { color: #2D0248 }

.color-primary-0 { color: #77064A }	/* Main Primary color */
.color-primary-1 { color: #B90171 }
.color-primary-2 { color: #92095C }
.color-primary-3 { color: #530032 }
.color-primary-4 { color: #31001E }

/**
 * Colors like Bootstrap
 */
.rtl-default { color: #6B72E6; }
.rtl-default-background { background-color: #6B72E6; }
.rtl-default-background-important { background-color: #6B72E6 !important; }
.rtl-btn-default { color: #D2D4F8 !important; background-color: #6B72E6 !important; }
.rtl-btn-default:hover { color: #FFFFFF !important; background-color: #3D4AAD !important; }

.rtl-primary { color: #C1389B; }
.rtl-primary-background { background-color: #C1389B; }
.rtl-primary-background-important { background-color: #C1389B !important; }
.rtl-btn-primary { color: #EDC2DD !important; background-color: #C1389B !important; }
.rtl-btn-primary:hover { color: #FFFFFF !important; background-color: #9A007D !important; }

.rtl-success { color: #9D71B1; }
.rtl-success-background { background-color: #9D71B1; }
.rtl-success-background-important { background-color: #9D71B1 !important; }
.rtl-btn-success { color: #C8B3D5 !important; background-color: #9D71B1 !important; }
.rtl-btn-success:hover { color: #FFFFFF !important; background-color: #682281 !important; }

.rtl-info { color: #98007B; }
.rtl-info-background { background-color: #98007B; }
.rtl-info-background-important { background-color: #98007B !important; }
.rtl-btn-info { color: #D981BC !important; background-color: #98007B !important; }
.rtl-btn-info:hover { color: #FFFFFF !important; background-color: #98007B !important; }

.rtl-warning { color: #D7923D; }
.rtl-warning-background { background-color: #D7923D; }
.rtl-warning-background-important { background-color: #D7923D !important; }
.rtl-btn-warning { color: #FFD6A4 !important; background-color: #D7923D !important; }
.rtl-btn-warning:hover { color: #FFFFFF !important; background-color: #FF8C00 !important; }

.rtl-danger { color: #C93535; }
.rtl-danger-background { background-color: #C93535; }
.rtl-danger-background-important { background-color: #C93535 !important; }
.rtl-btn-danger { color: #F19090 !important; background-color: #C93535 !important; }
.rtl-btn-danger:hover { color: #FFFFFF !important; background-color: #ED0000 !important; }

.rtl-spin-btn-xs { margin-left: 8px !important; }


/***
 *       ____  __  __
 *      / __ \/ /_/ /_  ___  __________
 *     / / / / __/ __ \/ _ \/ ___/ ___/
 *    / /_/ / /_/ / / /  __/ /  (__  )
 *    \____/\__/_/ /_/\___/_/  /____/
 *
 */
.rtl-full-width { width: 100% !important; }
.rtl-legend { font-size: 18px; }

.rtl-divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

/*To remove the spinners into numeric input*/
/* For Firefox */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.modal-body {
    max-height: 80vh;
    overflow-y: scroll;
}

/* show gallery */
.documents li{
    list-style-type:none;
    margin-right:10px;
    margin-bottom:10px;
    float:left;
}

.documents li img {
    height: auto;
    width: 100px;
}

.dashboard-box-size {
    height: 400px;
    overflow: scroll;
}